* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion {
    display: none;
}

.input-wrapper {
    position: relative;
    display: block;
    float: left;
}

.input-wrapper input[type=text] {
    border: 1px solid #b8b8b8;
    width: 540px;
    height: 35px;
    padding-left: 8px;
    font-size: 15px;
}

.input-wrapper input[type=text]:focus {
    outline: none;
    border-color: #4b94fc;
}

.float-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #b8b8b8
}

.input-wrapper+button {
    float: left;
    background: #3988FB;
    border: none;
    font-size: 14px;
    color: white;
    padding: 0 20px;
}

.input-wrapper+button:focus {
    outline: none;
}

.input-wrapper+button:hover {
    box-shadow: 1px 1px 1px 0 rbga(0, 0, 0, 0.2);
    background: #3781F0;
    cursor: pointer;
}

.input-wrapper svg.icon {
    width: 20px;
    height: 20px;
    fill: #b8b8b8;
    cursor: pointer;
}

.split-line {
    width: 0;
    height: 18px;
    margin: 10px;
    border-left: 1px solid
}

.wrapper {
    display: flex;
    position: relative; 
}

.suggestion {
    position: absolute;
    top: 100%;
    left: 0;
    display: none
}
.suggestion {
    position: absolute;
    top: 100%;
    left: 0;
    display: none
 }
 .suggestion.active{
    display: block;
 }